<%- include("template/cabecera") %>
<body>
    <h1 class="text-primary">
        Mascotas
    </h1>
    <div class="container">
        
                <table class="table">
                    <thead>
                        <th scope="col"> # </th>
                        <th scope="col"> Nombre </th>
                        <th scope="col"> Tamaño </th>
                    </thead>
                    
                    <tbody>
                        <% if (arrayMascotasDB) { %>
                            <% arrayMascotasDB.forEach(mascota => { %>
                                <tr>
                                    <th scope ="row"> <%= mascota.id%></th>
                                    <td>
                                        <%= mascota.nombre%>
                                    </td>
                                    <td>
                                        <%= mascota.tamano%>
                                    </td>

                                </tr>
                             
                            <% }) %>
                         
                        <% } %>
                               
                          
                    </tbody>
                            
                    
                </table>
                 
            
    </div>

</body>
</html> 